<launch> 
	<!-- Start point cloud rosbag play to provide data
	<node pkg="rosbag" type="play" name="rosbag_babs_record"  args="/home/mordoc/ROSBAG_NAME">
		<remap from="/front_wobbler/point_cloud" to="" />
	</node> -->

	<node pkg="wmp" type="wmp" name="wmp" output="screen">
		<param name="filename" value="/home/mordoc/data/oakland3_data.csv" />

	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/mordoc/ros_ws/src/wmp/rviz/wmp.rviz">
	</node>

	<node pkg="tf" type="static_transform_publisher" name="rot_static_transform_publisher" args="0 0 0 1 1 0 0 lidar_link rot 50">
	</node>

</launch>


























