<launch> 
	<!--Wobbler Motion Planning (WMP) launch file
		Created by Trent Ziemer
		Last updated May 7 2017 by Trent Ziemer -->
   
	<node pkg="wmp" type="wmp" name="wmp" output="screen">
		<param name="filename" value="/home/mordoc/data/oakland3_data.csv" />
		<param name="start_point_x" value="-2" />	
		<param name="start_point_y" value="-2"/>
		<param name="goal_point_x" value="2" />
		<param name="goal_point_y" value="-2" />
		<param name="cells_per_side" value="50" />
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/mordoc/ros_ws/src/wmp/rviz/wmp.rviz">
	</node>

	<node pkg="tf" type="static_transform_publisher" name="rot_static_transform_publisher" args="0 0 0 1 1 0 0 lidar_link rot 50">
	</node>
</launch>


























